body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('images/background.jpg');
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
}
.dancerMouseOver{
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
}
.flipped {
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -khtml-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
}
.bluefish {
  background-image: url('images/bluefish.png');
  height: 85px;
  width: 209px;
  border: 0;
}
.oyfish {
  background-image: url('images/oy-fish.png');
  height: 100px;
  width: 125px;
  border: 0;
}
.purplefish {
  background-image: url('images/purple-fish.png');
  height: 118px;
  width: 197px;
  border: 0;
}
.lightbluefish {
  background-image: url('images/lightblue-fish.png');
  height: 71px;
  width: 144px;
  border: 0;
}
.ogbfish {
  background-image: url('images/ogb-fish.png');
  height: 112px;
  width: 150px;
  border: 0;
}
